{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Profesor - Eduflex</title>
    <link rel="stylesheet" href="{% static 'css/dashboardTeacher.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="Eduflex">
            <a href="#" class="btn">Cursos</a>
        </div>
        <nav>

            <a href="{% url 'accounts:logout' %}" class="btn-cerrar">Cerrar sesión</a>
        </nav>
    </header>

    <main>
        <div class="container">
        <div class="welcome">
          ¡Bienvenida,{{profesor.nombre_completo}} !<br>
          Accede a tus cursos y al seguimiento de tus estudiantes.
        </div>

        <div class="content">
          <div class="progress-courses {% if not reportes_recientes %}sin-reportes{% endif %}">
              <div class="progress-title">Últimos reportes de tus hijos</div>
              {% if reportes_recientes %}
                <div class="card-container">
                  {% for reporte in reportes_recientes %}
                  <div class="card">
                    <div><strong>{{ reporte.titulo }}</strong></div>
                      <div><strong>Niño:</strong></div>
                      <div>  {{ reporte.niño.nombres }} {{ reporte.niño.apellidos }}</div>
                    <div>Puntaje: {{ reporte.puntaje }}</div>
                    <div>Distracciones: {{ reporte.distracciones }}</div>
                    <div>Duración: {{ reporte.duracion }}</div>
                    <div>Fecha: {{ reporte.fecha|date:"M d, Y" }}</div>
                  </div>
                  {% endfor %}
                </div>
              {% else %}
                <p>No hay reportes recientes disponibles.</p>
              {% endif %}
          </div>
          <div class="imagen-con-circulo">
              <div class="circulo-beis"></div>
              <img src="{% static 'img/profesor.png' %}" class alt="Ilustración profesora">
          </div>
        </div>
      </div>
    </main>
</body>
</html>
